<h1>所有機材一覧</h1>
<% if user_signed_in? %>
  <% @items.each do |item| %>
  <div class="user-show">
    <p><%= item.name %>: ¥<%= item.price %></p>
    <p>Owner: <%= item.user.user_name %></p>
  </div>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
